<html>
    <style>
        body {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
    <head>
        <title>Autoweb</title>
    </head>
    <body>
        <h1>Hello World</h1>
        <p>Being served locally by NGINX - Built with Vagrant & Ansible</p>
        <p>Currently being served by {{ ansible_hostname }}</p>
    </body>
</html>