upstream application {
    server 10.99.25.21;
    server 10.99.25.22;
}

server {
    listen  80;
    server_name {{ nginx.servername }};

    server_tokens off;

    location / {
        proxy_set_header  Host             $host;
        proxy_set_header  X-Real-IP        $remote_addr;
        proxy_set_header  X-Forwarded-For  $remote_addr;
        proxy_pass http://application;
    }
}